* {
	font-family: "Roboto"
}

.header div h1 {
	font-size: 50px;
	font-weight: 400;
}

.day p{
	padding: 0px;
	margin: 0;
	border-bottom: 1px solid;
}

.forecast {
	margin:  auto;
	padding: 30px;
	background-color: #eee;
}

.forecast h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 10px 0 0;
}

.forecast h2 {
	margin: 5px;
	font-weight: 300;
}

.footer {
	margin-top: 30px;
}

.good {
	background-color: rgba(0, 228, 0, .25)
}

.moderate {
	background-color: rgba(255, 255, 0, 0.25);
}

.UFSG {
	background-color: rgba(255, 126, 0, 0.25);
}

.unhealthy {
	background-color: rgba(255, 0, 0, 0.25);
}

.veryunhealthy {
	background-color: rgba(153, 0, 76, 0.25);
}

.hazardous {
	background-color: rgba(126, 0, 35, 0.25);
}